<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
         <!--   <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <ul class="toggle">
                    <p class="header">Docs</p>
                    <li><a href="{{home}}/docs/">Welcome</a></li>
		            <li><a href="{{home}}/docs/gcp">Concepts</a></li>
                    <li><a href="{{home}}/docs/kubernetes">Setup</a></li>
                    <li><a href="{{home}}/docs/istio">Tasks</a></li>
                    <li><a href="{{home}}/docs/docker">Guides</a></li>
                    <li><a href="{{home}}/docs/reference">Reference</a></li>
                </ul>
            </div>

            <hr class="footer-sections" />

            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <ul class="toggle">
                    <p class="header">Resources</p>
                    <li><a href="{{home}}/faq">Sual&Cavab</a></li>
                    <li><a href="{{home}}/troubleshooting">Troubleshooting Guide</a></li>
                    <li><a href="{{home}}/bugs">Report a Bug</a></li>
                    <li><a href="https://github.com/istio/istio.github.io/issues/new?title=Issue with {{page.path}}">Report a Doc Issue</a></li>
                    <li><a href="https://github.com/istio/istio.github.io/edit/master/{{page.path}}">Edit This Page on GitHub</a></li>
                </ul>
            </div>
-->
            <hr class="footer-sections" />

            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <ul class="toggle">
                    <span class="group"></span><p class="header">Contact</p>
                    <li><a href="https://groups.google.com/forum/#!forum/goupaz" target="_blank"><span>Forum</span></a> | <a href="https://goupaz.slack.com" target="_blank">Slack </a> | <a href=" https://zoom.us/j/5217466476" target="_blank">Zoom Webinar</a>  <a href="https://www.youtube.com/channel/UC5-CzpUMNnehyCSvo3kiMTw" target="_blank"><span class="youtube">Youtube</span></a> | <a href="https://www.facebook.com/goupaz" target="_blank"><span class="youtube">Facebook </span></a> | <a href="https://www.linkedin.com/groups/13558666" target="_blank"><span class="youtube">Linkedin Iş Elanları</span></a> |  <a href="https://github.com/goupaz" target="_blank"><span>GitHub</span></a></li>
                </ul>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <p class="description small text-center">
                GOUPAZ Version {{site.data.istio.version}}, Copyright &copy; 2017 GOUPAZ <br>
                This site was built on {{site.time | date_to_string | split: ' ' | join: '-'}}
            </p>
        </div>
    </div>
</footer>
